!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title= @title
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag 'github.css', 'bootstrap.min.css'
    = javascript_include_tag 'highlight.pack.js', 'bootstrap,min.js'
    <script>hljs.initHighlightingOnLoad();</script>
  %body
    %br
    #search_form{:style => 'width: 60%; margin-left: auto; margin-right: auto;'}
      - form_tag '/search', :method => 'get' do
        = text_field_tag :q, :value => @querystring, :autofocus => true, :style => 'width: 90%; font-size: 1.5em;'
        = submit_tag 'Search', :style => 'font-size: 1.2em; vertical-align: 10%'