.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} Ladder
      .nav-collapse
        %ul.nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#contact"} Contact
        %p.navbar-text.pull-right
          Logged in as
          %a{:href => "#"} username
.container
  .row
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list
          - @facets.each do |ns, fields|
            - fields.each do |facet|
              - if !@results.facets[facet]['terms'].empty?
                %li.nav-header= facet.size < 4 ? facet.upcase : facet.capitalize

                - @results.facets[facet]['terms'].each do |f|

                  - if @filters[ns].nil? or @filters[ns][facet].nil? or !@filters[ns][facet].to_a.include?(f['term'])
                    - if !@filters[ns].nil?
                      - @new_fi = @filters.deep_merge({ns => {facet => @filters[ns][facet].to_a | f['term'].to_a}})
                    - else
                      - @new_fi = @filters.deep_merge({ns => {facet => f['term'].to_a}})

                    - if 'language' == facet
                      %li= link_to ISO_639.find(f['term']).nil? ? f['term'] + " (#{f['count']})" : ISO_639.find(f['term']).english_name + " (#{f['count']})",
                            url_for(:search_index, @querystring, :page => @page, :fi => @new_fi)
                    - else
                      %li= link_to f['term'] + " (#{f['count']})",
                            url_for(:search_index, @querystring, :page => @page, :fi => @new_fi)
                  - else
                    - if 'language' == facet
                      %li.active
                        %a= ISO_639.find(f['term']).nil? ? f['term']: ISO_639.find(f['term']).english_name
                    - else
                      %li.active
                        %a= f['term']

    .span9

      .TESTING
        - form_tag '/search', :method => 'get' do
          = text_field_tag :q, :value => @querystring, :autofocus => true, :style => 'width: 90%; font-size: 1.5em;'
          = submit_tag 'Search', :class => 'btn btn-primary', :style => 'vertical-align: top;'

          .pagination-centered
            = paginate @results
            <b>#{@results.size}</b> of <b>#{@results.total}</b> results (#{@results.time} ms)

      =partial 'search/result', :collection => @results

      .pagination-centered
        = paginate @results

      %footer
        %p &copy; Deliberate Data 2012
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/bootstrap.js"}
