- @title = "Results for '#{@querystring}'"

.container
  .row
    .span3
      .well.sidebar-nav.hidden-phone
        %ul.nav.nav-list
          = partial 'search/facet', :collection => @facets

    .span9
      %b= @results.total
      results (#{@results.time} ms)

      = partial 'search/result', :collection => @results
      .pagination-centered
        = paginate @results, :window => 3

      %br
      %p &copy; 2012 Deliberate Data