- @title = "Results for '#{@querystring}'"
= partial 'search/header'

#result_info{:style => 'width: 60%; margin-left: auto; margin-right: auto; text-align: center;'}
  = paginate @results
  %p <b>#{@results.size}</b> of <b>#{@results.total}</b> results (#{@results.time} ms)

- if !@filters.empty?
  #filters{:class => "json", :style =>'width: 50%;  word-wrap:break-word;'}
    <pre><code>
    = JSON.pretty_generate(@filters)
    </pre></code>

#search_facets
  %table{:border => "1", :style => "table-layout:fixed; width:99%; word-wrap:break-word;"}
    %tr{:style => "font-weight: bold;"}
      - @facets[:dcterms].each do |facet|
        %td
          - if facet.size < 4
            = facet.upcase    # hackey-hack for acronyms
          - else
            = facet.capitalize
    %tr
      - @facets[:dcterms].each do |facet|
        %td
          %ul
          - @results.facets[facet]['terms'].each do |f|
            - if @filters[:dcterms].nil? or (@filters[:dcterms][facet.to_sym].nil? or f['term'] != @filters[:dcterms][facet.to_sym])
              - if 'language' == facet
                %li= link_to ISO_639.find(f['term']).nil? ? f['term'] + " (#{f['count']})" : ISO_639.find(f['term']).english_name + " (#{f['count']})",
                      url_for(:search, :index, :q => @querystring, :p => @page,
                                               :f => @filters.deep_merge({:dcterms => {facet.to_sym => f['term']}}))
              - else
                %li= link_to f['term'] + " (#{f['count']})",
                      url_for(:search, :index, :q => @querystring, :p => @page,
                                               :f => @filters.deep_merge({:dcterms => {facet.to_sym => f['term']}}))

#search_results= partial 'search/result', :collection => @results
