- @title = "Results for '#{@querystring}'"

-# FIXME: this will break on creator values that are non-objectID
- @creators = Agent.find(@results.facets['creator']['terms'].map{|k| k.values_at("term")}.flatten)
-# FIXME: this will break on subject values that are non-objectID OR non-Concept
- @subjects = Concept.find(@results.facets['subject']['terms'].map{|k| k.values_at("term")}.flatten)

.container
  .row
    .span3
      .well.sidebar-nav.hidden-phone
        %ul.nav.nav-list
          - @facets.each do |ns, fields|
            - fields.each do |facet|
              - if !@results.facets[facet]['terms'].empty?
                %li.nav-header= facet

                - @results.facets[facet]['terms'].each do |f|

                  - if @filters[ns].nil? or @filters[ns][facet].nil? or !@filters[ns][facet].to_a.include?(f['term'])
                    - if !@filters[ns].nil?
                      - @new_fi = @filters.deep_merge({ns => {facet => @filters[ns][facet].to_a | f['term'].to_a}})
                    - else
                      - @new_fi = @filters.deep_merge({ns => {facet => f['term'].to_a}})

                    - if 'language' == facet
                      %li= link_to ISO_639.find(f['term']).nil? ? f['term'] + " (#{f['count']})" : ISO_639.find(f['term']).english_name + " (#{f['count']})",
                            url_for(:search_index, @querystring, :page => @page, :fi => @new_fi)
                    - elsif 'creator' == facet
                      %li= link_to @creators[@creators.index{|doc| doc.id.to_s == f['term']}].heading.first + " (#{f['count']})",
                            url_for(:search_index, @querystring, :page => @page, :fi => @new_fi)
                    - elsif 'subject' == facet
                      %li= link_to @subjects[@subjects.index{|doc| doc.id.to_s == f['term']}].heading.dashjoin + " (#{f['count']})",
                            url_for(:search_index, @querystring, :page => @page, :fi => @new_fi)
                    - else
                      %li= link_to f['term'].capitalize + " (#{f['count']})",
                            url_for(:search_index, @querystring, :page => @page, :fi => @new_fi)
                  - else
                    - if 'language' == facet
                      %li.active= link_to ISO_639.find(f['term']).nil? ? f['term']: ISO_639.find(f['term']).english_name,
                                  url_for(:search_index, @querystring, :page => @page, :fi => @filters.deep_merge({ns => {facet => @filters[ns][facet].reject { |x| f['term'] == x}}}))
                    - elsif 'creator' == facet
                      %li.active= link_to @creators[@creators.index{|doc| doc.id.to_s == f['term']}].heading.first,
                                  url_for(:search_index, @querystring, :page => @page, :fi => @filters.deep_merge({ns => {facet => @filters[ns][facet].reject { |x| f['term'] == x}}}))
                    - elsif 'subject' == facet
                      %li.active= link_to @subjects[@subjects.index{|doc| doc.id.to_s == f['term']}].heading.dashjoin,
                                  url_for(:search_index, @querystring, :page => @page, :fi => @filters.deep_merge({ns => {facet => @filters[ns][facet].reject { |x| f['term'] == x}}}))
                    - else
                      %li.active= link_to f['term'].capitalize,
                                  url_for(:search_index, @querystring, :page => @page, :fi => @filters.deep_merge({ns => {facet => @filters[ns][facet].reject { |x| f['term'] == x}}}))

    .span9
      <b>#{@results.size}</b> of <b>#{@results.total}</b> results (#{@results.time} ms)

      =partial 'search/result', :collection => @results

      .pagination-centered
        = paginate @results

      %p &copy; 2012 Deliberate Data
