%a{:href => url_for(:agent, :index, :id => result.id)}
  %h4
    = result.heading.first.truncate(100, :separator => ' ')
    %small (#{result._score})

- item = Agent.normalize(result.to_hash, {:ids => :resolve})

- desc = []
- desc.push item[:foaf][:name].pop rescue nil unless 1 == item[:foaf][:name].size
- desc.push item[:foaf][:birthday].first rescue nil
- desc.push "#{result.resource_ids.size} #{I18n.t('search.resources')}" rescue nil

.description #{desc.join('; ')}