- @title = @agent.heading.first

.container
  .row
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @agent.parent.nil? and @agent.children.empty?
            %li.nav-header Relations
            = partial 'tree', :collection => @agent.root.to_a, :locals => {:self_id => @agent.id}

          -# RELATED RESOURCES
          - unless @agent.resources.empty?
            %li.nav-header Resources
            =list_of(@agent.resources) do |resource|
              %a{:href => url_for(:resource, :index, :id => resource.id)}
                #{resource.heading.first}

          -# SIMILAR ITEMS
          - unless @agent.similar.empty?
            = partial 'similar', :locals => {:document => @agent, :model => :agent}

    .span9
      %h1.page-header= @title
      = partial 'item', :object => Agent.normalize(@agent.as_document)

      %footer &copy; 2012 Deliberate Data
