- @title = @agent.heading
- @similar = @agent.similar

.container
  .row
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @agent.parent.nil? and @agent.children.empty?
            %li.nav-header Relations
            = partial 'tree', :collection => @agent.root.to_a, :locals => {:self_id => @agent.id}

          -# RELATED RESOURCES
          - unless @agent.resources.empty?
            %li.nav-header Resources
            =list_of(@agent.resources) do |resource|
              %a{:href => url_for(:resource, :index, :id => resource.id)}
                #{resource.heading}


          -# SIMILAR ITEMS
          - unless @similar.empty?
            %li.nav-header Similar

            - # TODO: clean up this code; move to partial
            =list_of(@similar) do |similar|

              - @amatch = @agent.amatch(similar)
              - @amatch[:hamming_similar] = 1-@amatch[:hamming_similar] unless @amatch[:hamming_similar].nil?
              - @diff1 = (@amatch.values.sum / @amatch.size) * 100

              - if @diff1 > 90
                .active
                %a.active{:href => url_for(:agent, :index, :id => similar.id)}
                  #{similar.load.heading} (#{@diff1.round}%)
              - else
                %a{:href => url_for(:agent, :index, :id => similar.id)}
                  #{similar.load.heading} (#{@diff1.round}%)
    .span9
      %h1= @agent.heading
      %pre
        %code{:style => 'background-color: #F4F4F4;'}= JSON.fast_generate(@agent.as_document.as_json, :object_nl => "\n", :indent => " ")
