- @title = @agent.heading.first

.container
  .row
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @agent.parent.nil? and @agent.children.empty?
            %li.nav-header Relations
            = partial 'tree', :collection => @agent.root.to_a, :locals => {:self_id => @agent.id}

          -# RELATED RESOURCES
          - unless @agent.resources.empty?
            %li.nav-header Resources
            =list_of(@agent.resources.page(1)) do |resource|
              .null{:style => 'margin-bottom: 9px;'}
              %a{:href => url_for(:resource, :index, :id => resource.id)}
                %img.pull-left{:src => url_for(:image, :index, :id => resource.id, :size => :S), :style => 'margin-right: 9px; max-width: 60px;'}
                #{resource.heading.first}
                .clearfix

          -# SIMILAR ITEMS
          - unless @agent.similar.empty?
            = partial 'similar', :locals => {:document => @agent, :model => :agent}

    .span9
      %h1.page-header= @title
      = partial 'item', :object => Agent.normalize(@agent.as_document), :locals => {:heading => true}

      .row-fluid
        .span2
          %a.pull-right{:href => '#collapseRDF', :'data-toggle' => "collapse"} RDF/XML
        .span10
          %pre.accordion-body.collapse#collapseRDF
            %code&= @agent.to_rdfxml(url_for(request.path_info))

      %footer &copy; 2012 Deliberate Data
