- @title = @agent.heading
- @similar = @agent.similar
- @resources = Resource.where(agent_ids: @agent.id)

.container
  .row
    .span12
      %h1= @agent.heading

  - unless @agent.parent.nil? and @agent.children.empty?
    .row
      .span12
        .tree
          %h3{:style => 'margin: 0; padding: 0; display: inline;'} Relations
          %ul= partial 'tree', :collection => @agent.root.to_a, :locals => {:self_id => @agent.id}

  - unless @similar.empty?
    - @same = @agent.same
    .row
      .span12
        .tree
          %h3{:style => 'margin: 0; padding: 0; display: inline;'} Similar
          %ul
            =list_of(@similar) do |similar|
              - # TODO: clean up this code; move to partial
              - @amatch = @agent.amatch(similar)
              - @amatch[:hamming_similar] = 1-@amatch[:hamming_similar] unless @amatch[:hamming_similar].nil?
              - @diff1 = (@amatch.values.sum / @amatch.size) * 100

              - if @same.include? similar
                %a.active{:href => url_for(:agent, :index, :id => similar.id)}
                  #{similar.load.heading}
                  %br (#{@diff1.round}%)
              - else
                %a{:href => url_for(:agent, :index, :id => similar.id)}
                  #{similar.load.heading}
                  %br (#{@diff1.round}%)

  .row
    .span6.json
      %pre
        %code{:style => 'background-color: #F4F4F4;'}= JSON.fast_generate(@agent.as_document.as_json, :object_nl => "\n", :indent => " ")

      - unless @resources.empty?
        %h3{:style => 'margin: 0; padding: 0; display: inline;'} Resources
      - @resources.each do |resource|
        %pre
          %code{:style => 'background-color: #F4F4F4;'}= JSON.fast_generate(resource.as_document.as_json(:except => ['marc', 'mods']), :object_nl => "\n", :indent => " ")
