- @title = @agent.heading
- @similar = @agent.similar

.container
  .row
    .span12
      %h1= @agent.heading

  - unless @agent.parent.nil? and @agent.children.empty?
    .row
      .span12
        .tree
          %h3{:style => 'margin: 0; padding: 0; display: inline;'} Relations
          %ul= partial 'tree', :collection => @agent.root.to_a, :locals => {:self_id => @agent.id}

  - unless @similar.empty?
    .row
      .span12
        .tree
          %h3{:style => 'margin: 0; padding: 0; display: inline;'} Similar
          %ul
            -# TODO: clean up this code; move to partial
            - @scores = @similar.map(&:_score)

            =list_of(@similar) do |similar|
              - @size = @agent.diff(similar).size
              - @fields = similar.to_hash.reject { |key, value| !value.is_a? Hash }.values.map(&:values).flatten.size
              - @diff = (@fields - @size/2.to_f)/@fields * similar._score/@scores.max * 100

              - if 0 == @size
                %a.active{:href => url_for(:agent, :index, :id => similar.id)}
                  #{similar.load.heading}
                  %br (#{@diff.round}%)
              - else
                %a{:href => url_for(:agent, :index, :id => similar.id)}
                  #{similar.load.heading}
                  %br (#{@diff.round}%)

  .row
    .span6.json
      %pre
        %code{:style => 'background-color: #F4F4F4;'}= JSON.fast_generate(@agent.as_document.as_json, :object_nl => "\n", :indent => " ")
