- @title = @agent.heading.first

.container
  .row
    .span3.hidden-phone
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @agent.leaf? and @agent.root?
            %li.nav-header Relations
            = partial 'tree', :collection => @agent.root.to_a, :locals => {:reference => @agent}

          -# SIMILAR ITEMS
          - unless @agent.similar.empty?
            = partial 'similar', :locals => {:document => @agent}

    .span9
      %h2.page-header= @title
      = partial 'item', :object => Agent.normalize(@agent.as_document, {:ids => :resolve})

      .row-fluid.hidden-phone
        .span2
          %a.pull-right{:href => '#collapseRDF', :'data-toggle' => "collapse"} RDF/XML
        .span10
          %pre.accordion-body.collapse#collapseRDF
            %code&= @agent.to_rdfxml(url_for(request.path_info))

      - resources = Resource.where(:agent_ids => @agent.id).page(@page)
      - unless resources.empty?
        %b= resources.size
        resources

        = partial 'search/result', :collection => resources
        .pagination-centered
          = paginate resources, :window => 3

      %br
      %p &copy; 2012 Deliberate Data