- @title = @agent.heading.first.truncate(100, :separator => ' ')

.container
  .row
    .span9
      %h2.page-header= @title
      = partial 'item', :object => @agent

      .row-fluid.hidden-phone
        .span2
          %a.pull-right{:href => '#collapseRDF', :'data-toggle' => "collapse"} RDF/XML
        .span10
          %pre.accordion-body.collapse#collapseRDF
            %code&= @agent.to_rdfxml(url_for(request.path_info))

      .row-fluid
        %b= @results.total
        =I18n.t("search.results")
        %span.muted (#{@results.time} ms)

        = partial 'search/result', :collection => @results
        .pagination-centered
          = paginate @results, :window => 3

      %br
    .span3
      - unless @agent.leaf? and @agent.root? and @agent.similar.empty?
        .well.sidebar-nav
          %ul.nav.nav-list
            -# RELATION TREE
            - unless @agent.leaf? and @agent.root?
              %li.nav-header= I18n.t('model.related')
              = partial 'tree', :collection => @agent.root.to_a, :locals => {:reference => @agent}

            -# SIMILAR ITEMS
            - unless @agent.similar.empty?
              = partial 'similar', :locals => {:document => @agent}

      -# FACETS
      - unless @results.empty? or 1 == @results.size
        .well.sidebar-nav.accordion-body#collapseFilters{:class => (@agent.leaf? and @agent.root? and @agent.similar.empty? or !@filters.empty?) ? '' : 'collapse'}
          %ul.nav.nav-list
            - unless @agent.leaf? and @agent.root? and @agent.similar.empty?
              %li.nav-header
                %a{:href => '#collapseFilters', :'data-toggle' => "collapse"}= I18n.t('search.filters')
            = partial 'search/facet', :collection => @results.facets