- @title = @concept.heading.dashjoin

.container
  .row
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @concept.parent.nil? and @concept.children.empty?
            %li.nav-header Relations
            = partial 'tree', :collection => @concept.root.to_a, :locals => {:model => :concept, :self_id => @concept.id, :show => :last}

          -# RELATED RESOURCES
          - unless @concept.resources.empty?
            %li.nav-header Resources
            =list_of(@concept.resources) do |resource|
              .null{:style => 'margin-bottom: 9px;'}
              %a{:href => url_for(:resource, :index, :id => resource.id)}
                %img.pull-left{:src => url_for(:image, :index, :id => resource.id, :size => :S), :style => 'margin-right: 9px;'}
                #{resource.heading.first}
                .clearfix

          -# SIMILAR ITEMS
          - unless @concept.similar.empty?
            = partial 'similar', :locals => {:document => @concept, :model => :concept, :show => :dashjoin}

    .span9
      %h1.page-header= @title
      = partial 'item', :object => Concept.normalize(@concept.as_document)

      %footer &copy; 2012 Deliberate Data
