- @title = @concept.heading.dashjoin

.container
  .row
    .span3.hidden-phone
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @concept.leaf? and @concept.root?
            %li.nav-header Relations
            = partial 'tree', :collection => @concept.root.to_a, :locals => {:reference => @concept, :stem => true, :show => :last}

          -# SIMILAR ITEMS
          - unless @concept.similar.empty?
            = partial 'similar', :locals => {:document => @concept, :show => :dashjoin}

    .span9
      %h2.page-header= @title
      = partial 'item', :object => Concept.normalize(@concept.as_document, {:ids => :resolve})

      .row-fluid.hidden-phone
        .span2
          %a.pull-right{:href => '#collapseRDF', :'data-toggle' => "collapse"} RDF/XML
        .span10
          %pre.accordion-body.collapse#collapseRDF
            %code&= @concept.to_rdfxml(url_for(request.path_info))

      - resources = Resource.where(:concept_ids => @concept.id).page(@page)
      - unless resources.empty?
        %b= resources.size
        resources

        = partial 'search/result', :collection => resources
        .pagination-centered
          = paginate resources, :window => 3

      %br
      %p &copy; 2012 Deliberate Data