- @title = @concept.heading.dashjoin

.container
  .row
    .span3.hidden-phone
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @concept.leaf? and @concept.root?
            %li.nav-header Relations
            = partial 'tree', :collection => @concept.root.to_a, :locals => {:model => :concept, :self_id => @concept.id, :show => :last}

          -# SIMILAR ITEMS
          - unless @concept.similar.empty?
            = partial 'similar', :locals => {:document => @concept, :model => :concept, :show => :dashjoin}

          -# RELATED RESOURCES
          -# unless @concept.resources.empty?
            %li.nav-header Resources
            =list_of(@concept.resources.page(1)) do |resource|
              .null{:style => 'margin-bottom: 9px;'}
              %a{:href => url_for(:resource, :index, :id => resource.id)}
                %img.pull-left{:src => url_for(:image, :index, :id => resource.id, :size => :S), :style => 'margin-right: 9px; max-width: 60px;'}
                #{resource.heading.first}
                .clearfix

    .span9
      %h2.page-header= @title
      = partial 'item', :object => Concept.normalize(@concept.as_document, {:ids => :resolve})

      .row-fluid.hidden-phone
        .span2
          %a.pull-right{:href => '#collapseRDF', :'data-toggle' => "collapse"} RDF/XML
        .span10
          %pre.accordion-body.collapse#collapseRDF
            %code&= @concept.to_rdfxml(url_for(request.path_info))

      - resources = Resource.where(:concept_ids => @concept.id).page(@page)
      = partial 'search/result', :collection => resources

      .pagination-centered
        = paginate resources

      %br
      %p &copy; 2012 Deliberate Data