- @title = @resource.heading
- @similar = @resource.similar

.container
  .row
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @resource.parent.nil? and @resource.children.empty?
            %li.nav-header Relations
            = partial 'tree', :collection => @resource.root.to_a, :locals => {:model => :resource, :self_id => @resource.id}

          -# RELATED AGENTS
          - unless @resource.agents.empty?
            %li.nav-header Agents
            =list_of(@resource.agents) do |agent|
              %a{:href => url_for(:agent, :index, :id => agent.id)}
                #{agent.heading}

          -# RELATED CONCEPTS
          - unless @resource.concepts.empty?
            %li.nav-header Concepts
            =list_of(@resource.concepts) do |concept|
              %a{:href => url_for(:concept, :index, :id => concept.id)}
                #{concept.heading}

          -# SIMILAR ITEMS
          - unless @similar.empty?
            - @same = @resource.same
            %li.nav-header Similar

            - # TODO: clean up this code; move to partial
            =list_of(@similar) do |similar|

              - @amatch = @resource.amatch(similar)
              - @amatch[:hamming_similar] = 1-@amatch[:hamming_similar] unless @amatch[:hamming_similar].nil?
              - @diff1 = (@amatch.values.sum / @amatch.size) * 100

              - if @same.include? similar
                .active
                %a.active{:href => url_for(:resource, :index, :id => similar.id)}
                  #{similar.load.heading} (#{@diff1.round}%)
              - else
                %a{:href => url_for(:resource, :index, :id => similar.id)}
                  #{similar.load.heading} (#{@diff1.round}%)
    .span9
      %h1= @resource.heading
      %pre
        %code{:style => 'background-color: #F4F4F4;'}= JSON.fast_generate(@resource.as_document.as_json(:except => ['marc', 'mods']), :object_nl => "\n", :indent => " ")
      -if @resource.mods
        %pre
          %code{:style => 'background-color: #F4F4F4;'}&= @resource.mods
      -#if @resource.marc
        %pre
          %code= JSON.fast_generate(MARC::Record.new_from_marc(@resource.marc).to_hash, :object_nl => "\n", :indent => " ") if @resource.marc