- @title = @resource.heading.first.truncate(100, :separator => ' ')

.container
  .row
    .span9
      %h2.page-header= @title

      .row-fluid
        .span2.thumbnail
          = partial 'resource/image', :object => @resource

        .span10
          = partial 'item', :object => @resource

      .row-fluid.hidden-phone
        .span2
          %a.pull-right{:href => '#collapseRDF', :'data-toggle' => "collapse"} RDF/XML
        .span10
          %pre.accordion-body.collapse#collapseRDF
            %code&= @resource.to_rdfxml(url_for(request.path_info))

      - if @resource.mods
        .row-fluid.hidden-phone
          .span2
            %a.pull-right{:href => '#collapseMODS', :'data-toggle' => "collapse"} MODS
          .span10
            %pre.accordion-body.collapse#collapseMODS
              %code&= @resource.mods.to_s

      - if @resource.marc
        .row-fluid.hidden-phone
          .span2
            %a.pull-right{:href => '#collapseMARC', :'data-toggle' => "collapse"} MARC
          .span10
            %pre.accordion-body.collapse#collapseMARC
              %code= JSON.pretty_generate(MARC::Reader.decode(@resource.marc.to_s).to_hash)

      %br
    .span3
      - unless @resource.leaf? and @resource.root? and @resource.similar.empty?
        .well.sidebar-nav
          %ul.nav.nav-list
            -# RELATION TREE
            - unless @resource.leaf? and @resource.root?
              %li.nav-header= I18n.t('model.related')
              = partial 'tree', :collection => @resource.root.to_a, :locals => {:reference => @resource, :show => :first}

            -# SIMILAR ITEMS
            - unless @resource.similar.empty?
              = partial 'similar', :locals => {:document => @resource, :show => :first}