- @title = @resource.heading.first

.container
  .row
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @resource.parent.nil? and @resource.children.empty?
            %li.nav-header Relations
            - if @resource.parent_ids.empty?
              = partial 'tree', :collection => @resource.root.to_a, :locals => {:model => :resource, :self_id => @resource.id, :show => :first}
            - else
              = partial 'stem', :locals => {:stem => ([@resource] + Resource.find(@resource.parent_ids)), :model => :resource, :show => :first}

          -# RELATED AGENTS
          - unless @resource.agents.empty?
            %li.nav-header Agents
            =list_of(@resource.agents) do |agent|
              #{link_to agent.heading.first, url_for(:agent, :index, :id => agent.id)}

          -# RELATED CONCEPTS
          - unless @resource.concepts.empty?
            %li.nav-header Concepts
            =list_of(@resource.concepts) do |concept|
              = partial 'stem', :locals => {:stem => (Concept.find(concept.parent_ids) + [concept]).reverse!, :model => :concept, :show => :last}

          -# SIMILAR ITEMS
          - unless @resource.similar.empty?
            = partial 'similar', :locals => {:document => @resource, :model => :resource, :show => :first}

    .span9
      %h1.page-header= @title

      .row-fluid
        .span2.thumbnail
          %img{:src => url_for(:image, :index, :id => @resource.id)}

        .span10
          = partial 'item', :object => Resource.normalize(@resource.as_document), :locals => {:heading => true}

      - if @resource.mods
        .row-fluid
          .span2
            %a.pull-right{:'data-toggle' => "collapse", :href => '#collapseMODS'} MODS
          .span10
            %pre.accordion-body.collapse#collapseMODS
              %code&= @resource.mods

      - if @resource.marc
        .row-fluid
          .span2
            %a.pull-right{:'data-toggle' => "collapse", :href => '#collapseMARC'} MARC
          .span10
            %pre.accordion-body.collapse#collapseMARC
              %code= JSON.fast_generate(MARC::Record.new_from_marc(@resource.marc).to_hash, :object_nl => "\n", :indent => " ") if @resource.marc

      %footer &copy; 2012 Deliberate Data
