- @title = "Resource #{@resource.id}"
= partial 'resource/header'

.container
  .row
    .span12
      %h1 Resource #{@resource.id}

  .row
    -#.span4.json
      %pre
        %code= JSON.fast_generate(MARC::Record.new_from_marc(@resource.marc).to_hash, :object_nl => "\n", :indent => " ") if @resource.marc
    .span6.xml
      %pre
        %code&= @resource.mods if @resource.mods
    .span6.json
      %pre
        %code= JSON.fast_generate(@resource.as_document.as_json(:except => ['marc', 'mods']), :object_nl => "\n", :indent => " ")
