- @title = "Resource #{@resource.id}"

.container
  .row
    .span12
      %h1 Resource #{@resource.id}

  - unless @resource.root?
    .row
      .span12.tree.sidebar-nav
        = partial 'tree', :object => @resource.root, :locals => {:self_id => @resource.id}

  .row
    -#.span4.json
      %pre
        %code= JSON.fast_generate(MARC::Record.new_from_marc(@resource.marc).to_hash, :object_nl => "\n", :indent => " ") if @resource.marc
    .span6.xml
      %pre
        %code{:style => 'background-color: #F4F4F4;'}&= @resource.mods if @resource.mods
    .span6.json
      %pre
        %code{:style => 'background-color: #F4F4F4;'}= JSON.fast_generate(@resource.as_document.as_json(:except => ['marc', 'mods']), :object_nl => "\n", :indent => " ")
