- @title = @resource.heading.first

.container
  .row
    .span3.hidden-phone
      .well.sidebar-nav
        %ul.nav.nav-list

          -# RELATION TREE
          - unless @resource.leaf? and @resource.root?
            %li.nav-header Relations
            = partial 'tree', :collection => @resource.root.to_a, :locals => {:reference => @resource, :show => :first}

          -# SIMILAR ITEMS
          - unless @resource.similar.empty?
            = partial 'similar', :locals => {:document => @resource, :show => :first}

    .span9
      %h2.page-header= @title

      .row-fluid
        .span2.thumbnail
          %img{:src => url_for(:image, :index, :id => @resource.id)}

        .span10
          = partial 'item', :object => Resource.normalize(@resource.as_document, {:ids => :resolve})

      .row-fluid.hidden-phone
        .span2
          %a.pull-right{:href => '#collapseRDF', :'data-toggle' => "collapse"} RDF/XML
        .span10
          %pre.accordion-body.collapse#collapseRDF
            %code&= @resource.to_rdfxml(url_for(request.path_info))

      - if @resource.mods
        .row-fluid.hidden-phone
          .span2
            %a.pull-right{:href => '#collapseMODS', :'data-toggle' => "collapse"} MODS
          .span10
            %pre.accordion-body.collapse#collapseMODS
              %code&= @resource.mods.to_s

      - if @resource.marc
        .row-fluid.hidden-phone
          .span2
            %a.pull-right{:href => '#collapseMARC', :'data-toggle' => "collapse"} MARC
          .span10
            %pre.accordion-body.collapse#collapseMARC
              %code= JSON.fast_generate(MARC::Record.new_from_marc(@resource.marc.to_s).to_hash, :object_nl => "\n", :indent => " ")

      %br
      %p &copy; 2012 Deliberate Data