.span8
  %a{:href => url_for(:concept, :index, :id => concept.id)}
    %h4
      - if ignore_nil {concept.skos.hiddenLabel}
        %small= ignore_nil {concept.skos.hiddenLabel.join(' -- ')}
        \--
      = concept.heading.lookup(concept.heading.to_hash).last.truncate(100, :separator => ' ')

  - desc = []
  - if ignore_nil {concept.resource_ids.size > 3}
    - desc.push "#{concept.resource_ids.size} #{I18n.t('search.resources')}"

  .description #{desc.join('; ')}

.span4
  - if concept.resource_ids
    .together
      - Resource.find(concept.resource_ids.take(3)).each do |resource|
        %a.thumbnail.pull-right{:href => url_for(:resource, :index, :id => resource.id), :style => 'margin-left: 9px;'}
          .half-small
            = partial 'image', :object => resource