%table.table.table-bordered.table-striped.table-condensed
  - item.each do |vocab, fields|
    - next if fields.empty?

    -#%tr
      %th{:colspan => 2, :style => 'text-transform: uppercase; background: #c8e4f8;'}
        = vocab

    - fields.each do |name, values|
      %tr
        %td.span2
          %strong= name.to_s.underscore.humanize
        %td
          - values.each do |value|

            - if value.is_a? Hash
              - heading = value.keys.first.to_s.classify.constantize.find(value.values.first).heading

              - if value[:concept]
                #{link_to heading.dashjoin, url_for(value.keys.first, :index, :id => value.values.first)}
              - else
                #{link_to heading.first, url_for(value.keys.first, :index, :id => value.values.first)}

            - elsif :language == name
              = ISO_639.find(value).english_name

            - else
              = value

            - unless values.last == value
              %br