- show = show || :join

- docs = document.similar.to_a
- docs.each do |doc|
  - match = document.amatch(doc)
  - doc.attributes[:diff] = match.values.sum / match.size
- docs.delete_if {|doc| document.parent_ids.first.to_s == doc.parent_ids.first unless doc.parent_ids.nil?}

- unless docs.empty?
  %li.nav-header
    = I18n.t('model.similar')
    %ul.media-list
    - docs.sort! {|a, b| b.diff <=> a.diff}
    - docs.take(5).each do |similar|

      - if similar.diff > 0.85
        %li.media.active
          %a.active{:href => url_for(document.class.to_s.underscore.to_sym, :index, :id => similar.id)}
            .half.pull-left= partial 'image', :object => similar, :locals => {:style => 'font-size: 1.5em;'}

            %strong.text-warning #{similar.load.heading.send(show)}
            %small.muted (#{(similar.diff * 100).round}%)
            .clearfix

      - else
        %li.media
          %a{:href => url_for(document.class.to_s.underscore.to_sym, :index, :id => similar.id)}
            .half.pull-left= partial 'image', :object => similar, :locals => {:style => 'font-size: 1.5em;'}

            - if document.is_a? Concept
              #{[similar.load.ancestors.map(&:heading) + similar.load.heading].dashjoin}
            - else
              #{similar.load.heading.send(show)}
            %small.muted (#{(similar.diff * 100).round}%)
            .clearfix