- show = show || :join

- docs = document.similar({:amatch => true}).to_a
- docs.delete_if {|doc| document.parent_ids.first.to_s == doc.parent_ids.first unless doc.parent_ids.nil?}
- docs.sort! {|a, b| b.diff <=> a.diff}

- unless docs.empty?
  %li.nav-header
    = I18n.t('model.similar')
    %ul.media-list
    - docs.take(5).each do |doc|

      - if doc.diff > 0.85
        %li.media.active
          %a.active{:href => url_for(document.class.to_s.underscore.to_sym, :id => doc.id)}
            .half.pull-left= partial 'image', :object => doc, :locals => {:style => 'font-size: 1.5em;'}

            %strong.text-warning #{doc.load.heading.send(*show)}
            %small.muted (#{(doc.diff * 100).round}%)
            .clearfix

      - else
        %li.media
          %a{:href => url_for(document.class.to_s.underscore.to_sym, :id => doc.id)}
            .half.pull-left= partial 'image', :object => doc, :locals => {:style => 'font-size: 1.5em;'}

            - if document.is_a? Concept
              #{[doc.load.ancestors.map(&:heading) + doc.load.heading].send(*show)}
            - else
              #{doc.load.heading.send(*show)}
            %small.muted (#{(doc.diff * 100).round}%)
            .clearfix