- show = show || :join

- docs = document.similar.to_a
- docs.each do |doc|
  - match = document.amatch(doc, {:jaro_similar => true,
                                  :jarowinkler_similar => true,
                                  :levenshtein_similar => true,
                                  :longest_subsequence_similar => true,
                                  :pair_distance_similar => true})
  - doc.attributes[:diff] = match.values.sum / match.size
- docs.delete_if {|doc| doc.diff < 0.5}
- docs.delete_if {|doc| document.parent_ids.first.to_s == doc.parent_ids.first unless doc.parent_ids.nil?}

- unless docs.empty?
  %li.nav-header
    Similar
    %ul.media-list
    - docs.sort! {|a, b| b.diff <=> a.diff}
    - docs = Kaminari.paginate_array(docs).page(1).per(10)
    - docs.each do |similar|

      - if similar.diff > 0.85
        %li.media.active
          %a.active{:href => url_for(document.class.to_s.underscore.to_sym, :index, :id => similar.id)}
            - if document.is_a? Resource
              .half.pull-left= partial 'resource/image', :object => similar, :locals => {:size => 'S'}

            %strong.text-warning #{similar.load.heading.send(show)}
            %small.muted (#{(similar.diff * 100).round}%)
            .clearfix

      - else
        %li.media
          %a{:href => url_for(document.class.to_s.underscore.to_sym, :index, :id => similar.id)}
            - if document.is_a? Resource
              .half.pull-left= partial 'resource/image', :object => similar, :locals => {:size => 'S'}

            #{similar.load.heading.send(show)}
            %small.muted (#{(similar.diff * 100).round}%)
            .clearfix