- show = show || :join

- docs = document.similar({:amatch => true}).to_a
- docs.delete_if {|doc| doc.diff < 0.15}
-# docs.delete_if {|doc| document.parent_ids.first.to_s == doc.parent_ids.first unless doc.parent_ids.nil?}

- unless docs.empty?
  %li.nav-header= I18n.t('model.similar')
  %ul
  - docs.each do |doc|
    - hash = doc.to_normalized_hash({:ids => :omit, :localize => true, :all_keys => true}).except(:rdf_types)

    - if doc.diff > 0.85
      %li.active
        %a.active{:href => url_for(document.class.to_s.underscore.to_sym, :id => doc.id)}
          .half.pull-left= partial 'image', :object => doc, :locals => {:style => 'font-size: 1.5em;'}

          %strong.text-warning
            - if Resource == doc.class
              = hash[:heading].send(*show).truncate(100, :separator => ' ')
            - else
              = hash[:heading_ancestors].send(*show).truncate(100, :separator => ' ')
          %small.muted (#{(doc.diff * 100).round}%)
          .clearfix

    - else
      %li
        %a{:href => url_for(document.class.to_s.underscore.to_sym, :id => doc.id)}
          .half.pull-left= partial 'image', :object => doc, :locals => {:style => 'font-size: 1.5em;'}

          - if Resource == doc.class
            = hash[:heading].send(*show).truncate(100, :separator => ' ')
          - else
            = hash[:heading_ancestors].send(*show).truncate(100, :separator => ' ')

          %small.muted (#{(doc.diff * 100).round}%)
          .clearfix