- show = show || :join
- stem = stem || nil

%li{:class => (reference.id == tree.id) ? 'active' : ''}
  %a.row-fluid{:href => (reference.id == tree.id) ? '' : url_for(reference.class.to_s.underscore.to_sym, :id => tree.id)}
    .span2.half
      .thumbnail
        = partial 'image', :object => tree, :locals => {:style => 'font-size: 1.5em; margin: 0px;'}
    .span10
      - case tree.class
        - when Concept
          = tree.heading_ancestors.send(*show).truncate(100, :separator => ' ')
        - else
          = tree.heading.send(*show).truncate(100, :separator => ' ')

- if stem
  - if (reference.parent_ids + [reference.id]).include? tree.id
    - next_tree = (reference.parent_ids + [reference.id]).reverse.take_while{|id| id != tree.id}.last

    - unless next_tree.nil?
      %ul.nav.nav-list
        = partial 'tree', :collection => reference.class.find(next_tree).to_a, :locals => {:show => show, :reference => reference, :stem => stem}
    - else
      %ul.nav.nav-list
        = partial 'tree', :collection => tree.children.page(1).sort_by {|child| child.heading}, :locals => {:show => show, :reference => reference, :stem => stem}

- elsif tree.children.size > 0
  %ul.nav.nav-list
    = partial 'tree', :collection => tree.children.page(1).sort_by {|child| child.heading}, :locals => {:show => show, :reference => reference}