- @title = @agent.heading.first

.row-fluid
  .span9
    %h2.page-header= @title
    .row-fluid
      .span2
        .thumbnail{:style => 'min-height: 80px; margin-bottom: 10px;'}
          = partial 'image', :object => @agent, :locals => {:style => 'font-size: 6em;line-height:125%;'}

      .span10
        = partial 'item', :object => @agent

    - unless @results.empty?
      .row-fluid
        %b= @results.total
        =I18n.t("search.results")
        %span.muted (#{@results.time} ms)

        = partial 'search/result', :collection => @results
        .pagination-centered
          = paginate @results, :window => 3

  .span3
    - unless @agent.leaf? and @agent.root? and @agent.similar.empty?
      .well.sidebar-nav
        %ul.nav.nav-list
          -# RELATION TREE
          - unless @agent.leaf? and @agent.root?
            %li.nav-header= I18n.t('model.related')
            = partial 'tree', :collection => @agent.root.to_a, :locals => {:reference => @agent}

          -# SIMILAR ITEMS
          - unless @agent.similar.empty?
            = partial 'similar', :locals => {:document => @agent, :show => [:join, ' -- ']}

    -# FACETS
    - unless @results.empty? or (1 == @results.size and @filters.empty?)
      .well.sidebar-nav.accordion-body#collapseFilters{:class => (@filters.empty?) ? 'collapse' : ''}
        %ul.nav.nav-list
          - unless @results.facets.empty?
            %li.nav-header
              %a{:href => '#collapseFilters', :'data-toggle' => "collapse", :style => 'font-size: 1.1em;'}
                = I18n.t('search.filters')
                %i.icon-plus-sign-alt
            = partial 'search/facet', :collection => @results.facets