- @title = [@concept.ancestors.map(&:heading) + @concept.heading].dashjoin

.container
  .row
    .span9
      %h2.page-header= @title
      .row-fluid
        .span2.thumbnail
          = partial 'image', :object => @concept

        .span10
          = partial 'item', :object => @concept

      - unless @results.empty?
        .row-fluid
          %b= @results.total
          =I18n.t("search.results")
          %span.muted (#{@results.time} ms)

          = partial 'search/result', :collection => @results
          .pagination-centered
            = paginate @results, :window => 3

    .span3
      - unless @concept.leaf? and @concept.root? and @concept.similar.empty?
        .well.sidebar-nav
          %ul.nav.nav-list
            -# RELATION TREE
            - unless @concept.leaf? and @concept.root?
              %li.nav-header= I18n.t('model.related')
              = partial 'tree', :collection => @concept.root.to_a, :locals => {:reference => @concept, :stem => true, :show => :last}

            -# SIMILAR ITEMS
            - unless @concept.similar.empty?
              = partial 'similar', :locals => {:document => @concept, :show => :dashjoin}

      -# FACETS
      - unless @results.empty? or 1 == @results.size
        .well.sidebar-nav.accordion-body#collapseFilters{:class => (@concept.leaf? and @concept.root? and @concept.similar.empty? or !@filters.empty?) ? '' : 'collapse'}
          %ul.nav.nav-list
            - unless @concept.leaf? and @concept.root? and @concept.similar.empty?
              %li.nav-header
                %a{:href => '#collapseFilters', :'data-toggle' => "collapse"}= I18n.t('search.filters')
            = partial 'search/facet', :collection => @results.facets