- @title = @resource.heading.first.truncate(100, :separator => ' ').humanize

.container
  .row
    .span9
      %h2.page-header= @title

      .row-fluid
        .span2.thumbnail
          = partial 'image', :object => @resource

        .span10
          = partial 'item', :object => @resource

    .span3
      - unless @resource.leaf? and @resource.root? and @resource.similar.empty?
        .well.sidebar-nav
          %ul.nav.nav-list
            -# RELATION TREE
            - unless @resource.leaf? and @resource.root?
              %li.nav-header= I18n.t('model.related')
              = partial 'tree', :collection => @resource.root.to_a, :locals => {:reference => @resource, :show => :first}

            -# SIMILAR ITEMS
            - unless @resource.similar.empty?
              = partial 'similar', :locals => {:document => @resource, :show => :first}