- @title = @resource.heading.first.truncate(100, :separator => ' ').humanize

.container-fluid
  .row-fluid
    .span9
      %h2.page-header= @title

      .row-fluid
        .span2{:style => 'text-align: center;'}
          .thumbnail
            = partial 'image', :object => @resource

          - locations = ignore_nil {@resource.prism.url} || ignore_nil {@resource.bibo.uri} || ignore_nil {@resource.mods.locationOfResource} || []
          - locations.take(1).each do |location|
            %a.btn.btn-success{:href => location, :style => 'margin-top: 10px;'} Access Online

        .span10
          = partial 'item', :object => @resource

    .span3
      - unless @resource.leaf? and @resource.root? and @resource.similar.empty?
        .well.sidebar-nav
          %ul.nav.nav-list
            -# RELATION TREE
            - unless @resource.leaf? and @resource.root?
              %li.nav-header= I18n.t('model.related')
              = partial 'tree', :collection => @resource.root.to_a, :locals => {:reference => @resource, :show => :first}

            -# SIMILAR ITEMS
            - unless @resource.similar.empty?
              = partial 'similar', :locals => {:document => @resource, :show => :first}