!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= @title
    %link{:rel => "apple-touch-icon", :href => "/img/apple-touch-icon.png"}
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:name => "viewport", :content => "width=device-width"}/
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'

    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    = stylesheet_link_tag 'bootstrap.min.css'
    = stylesheet_link_tag 'main.css', 'github.css', 'font-awesome.css'
    = stylesheet_link_tag 'bootstrap-responsive.min.css'

    :javascript
      function imgFallback(object, i_class, i_style) {
        new_i = document.createElement('i');
        new_i.className = i_class;
        new_i.style.cssText = i_style;
        object.parentNode.replaceChild(new_i, object);
      }
    = javascript_include_tag 'highlight.pack.js'
    = javascript_include_tag 'http://code.jquery.com/jquery-1.8.2.min.js'
    %script hljs.initHighlightingOnLoad();
  %body
    %header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "/"} MyTPL
            .nav-collapse
              %ul.nav
                %li{:class => request.path_info == '/about' ? 'active' : ''}
                  %a{:href => "/about"}= I18n.t('about')
                %li
                  %a{:href => "http://www.deliberatedata.com"}= I18n.t('contact')
              - unless request.path_info == '/'
                - form_tag '/search', :method => 'get', :class => 'navbar-search' do
                  = text_field_tag :q, :class => 'input-xxlarge search-query', :placeholder => 'Search', :value => @querystring
              -#%p.navbar-text.pull-right
                Logged in as
                %a{:href => "#"} username
              %ul.nav.pull-right
                %li.dropdown
                  %a.dropdown-toggle{:href => "#", :'data-toggle' => 'dropdown'}
                    = I18n.t('language')
                    %b.caret
                  %ul.dropdown-menu
                    %li{:class => 'en' == I18n.locale.to_s ? 'active' : ''}
                      = link_to I18n.t('en'), current_path('locale' => 'en') rescue nil
                    %li{:class => 'fr' == I18n.locale.to_s ? 'active' : ''}
                      = link_to I18n.t('fr'), current_path('locale' => 'fr') rescue nil

    #main.container= yield

    = javascript_include_tag 'bootstrap.min.js'
    %footer
      .container
        .row
          .span3.offset6
            .pull-right &copy; 2012 Deliberate Data